<link rel="stylesheet" href="./components/userCRUD/userCRUD.css">

<h1 class="screen-title">User Control Board</h1>

    <div id="userForm">
        <h2 id="formTitle">Add Product</h2>
        <form id="userCrudForm">
            <input class="input" type="text" id="name" name="name"  placeholder="First Name:" required><br>
            <input class="input" type="text" id="lastName" name="lastName" placeholder="Last Name:" required><br>
            <input class="input" type="email" id="email" name="email" placeholder="Email:" required><br>
            <input class="input" type="text" id="password" name="password" placeholder="Password:" required><br>
            <input class="input" type="text" id="nickname" name="nickname" placeholder="Nickname:" required><br>
            <input class="input" type="text" id="cellphone" name="cellphone" placeholder="Phone Number:" required><br>
            <select class="input" id="role" name="role" required>
                <option value="">Select Role</option>
                <option value="Admin">Admin</option>
                <option value="General">General</option>
            </select><br>
            <input class="input" type="file" accept="image/*" id="imagePath" name="imagePath" placeholder="Upload Product Image" required><br>
            <button class="btn-common add-btn" type="submit">ADD</button>
        </form>
    </div>
    <div id="editUserForm" class="overlay hidden">
        <div class="form-container">
            <h2 id="editFormTitle">Edit User</h2>
            <form id="userEditForm" class="form">
                <input class="input" type="hidden" id="editUserID" name="userID">
                <label for="editName">User Name:</label>
                <input class="input" type="text" id="editName" name="name" required><br>
                <label for="editLastName">Last Name:</label>
                <input class="input" type="text" id="editLastName" name="lastName" required><br>
                <label for="editEmail">Email:</label>
                <input class="input" type="email" id="editEmail" name="email" required><br>
                <label for="editPassword">Password:</label>
                <input class="input" type="text" id="editPassword" name="password" required><br>
                <label for="editNickname">Nickname:</label>
                <input class="input" type="text" id="editNickname" name="nickname" required><br>
                <label for="editCellphone">Cellphone:</label>
                <input class="input" type="text" id="editCellphone" name="cellphone" required><br>
                <label for="editRole">Role:</label>
                <select class="input" id="editRole" name="role" required>
                    <option value="Admin">Admin</option>
                    <option value="General">General</option>
                </select><br>
                <label for="editImagePath">Image Path:</label>
                <input class="input" type="file" accept="image/*" id="editImagePath" name="imagePath" required><br>
                <button class="btn-common formBtn submit-btn" type="submit">Submit</button>
                <button class="btn-common formBtn cancel-btn" type="button" id="hide-edit-form">Cancel</button>
            </form>
        </div>
    </div>
    <table id="userTable">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Nickname</th>
                <th>Cellphone</th>
                <th>Role</th>
                <th>Image Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>