<!--style sheet-->
<link rel="stylesheet" href="components/home/home.css">
<!--html goes here-->
<div id="first-sight">
    
<header class="flex">
    <article>
        <h1 class="title big">Welcome to <br><em>Arctic</em> Breeze</h1>
        <p>Arctic Breeze Energy operates in the energy efficiency and remote control technology sector using the Internet of Things (IoT). The company specializes in the development of innovative solutions for the management and reduction of energy consumption in business, educational environments and busy locations such as schools, shopping centers and buildings.</p>
    </article>
    <section class="flex" id="flex">
        <aside class="padding_1x">
            <h2 class="sub_title">About Us</h2><br>
            <p>Arctic Breeze Energy was founded in the year 2000 with the mission of addressing environmental issues through adaptable technological solutions. Over the years, we have developed various projects and now focus on offering innovative alternatives to a common contemporary challenge: excessive energy consumption. We specialize in the field of energy efficiency technology and remote control through the Internet of Things (IoT). Our solutions are tailored to businesses, educational institutions, and other high-traffic areas such as schools, shopping malls, and office buildings. Committed to innovation, sustainability, and customer service, we provide advanced tools for efficient energy management, promoting both economic savings and environmental care.</p>
        </aside>
        <aside class="padding_1x">
            <h2 class="sub_title">Transparency and Ethics</h2><br>
            <p>At Arctic Breeze Energy, transparency and ethics are the cornerstones of our operations. We believe that trust is essential in building long-lasting relationships with our clients and partners. Our commitment to acting with integrity and maintaining high ethical standards guides every aspect of our business. We ensure that our practices are open and honest, providing clear communication and full disclosure to our customers and stakeholders. This approach fosters a collaborative environment where all parties can work together towards common goals, confident in the reliability and honesty of our interactions.</p>
        </aside>
        <aside class="padding_1x">
            <h2 class="sub_title">Protection of Personal Data</h2><br>
            <p>Protecting personal data is a top priority at Arctic Breeze Energy. We are committed to safeguarding the privacy and security of our clients' information in compliance with all relevant laws and regulations. Our data protection practices are designed to ensure that any personal information collected is handled responsibly and securely. We implement robust security measures to prevent unauthorized access, disclosure, or misuse of personal data. Our customers can trust that their information is protected and used solely for the purposes for which it was provided, with a clear understanding of their rights and options regarding their data.</p>
        </aside>
    </section>
    
</header>
</div>