<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        Chart showing how an HTML table can be used as the data source for the
        chart using the Highcharts data module. The chart is built by
        referencing the existing HTML data table in the page. Several common
        data source types are available, including CSV and Google Spreadsheet.
    </p>

    <table id="datatable" style="display: none;">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Humidity</th>
                <td id="hum-high"></td>
                <td id="hum-low"></td>
            </tr>
            <tr>
                <th>Energy Consumption</th>
                <td id="ener-high"></td>
                <td id="ener-low"></td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td id="temp-high"></td>
                <td id="temp-low"></td>
            </tr>
            <tr></tr>
            </tr>
        </tbody>
    </table>
</figure>

<figure class="highcharts-figure">
    <div id="container-spline"></div>
    <p class="highcharts-description">
    </p>
</figure>

