<link rel="stylesheet" href="components/dashboard/dashboard.css">
<!-- <div id="gauge-charts">
    <figure class="highcharts-gauge">
        <div id="container-speed" class="chart-container"></div>
        <div id="container-rpm" class="chart-container"></div>
        <div id="container-temp" class="chart-container"></div>
    </figure>
</div> -->
<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
    </p>

    <table id="datatable" style="display: none;">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Humidity</th>
                <td id="hum-high"></td>
                <td id="hum-low"></td>
            </tr>
            <tr>
                <th>Energy Consumption</th>
                <td id="ener-high"></td>
                <td id="ener-low"></td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td id="temp-high"></td>
                <td id="temp-low"></td>
            </tr>
            <tr></tr>
            </tr>
        </tbody>
    </table>
</figure>

<figure class="highcharts-figure">
    <div id="container-spline"></div>
    <p class="highcharts-description">
    </p>
</figure>

