<link rel="stylesheet" href="components/adminPanel/adminPanel.css">

<div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
              <div class="wrimagecard wrimagecard-topimage">
                <div class="wrimagecard-topimage_header">
                  <i class="fas fa-users cardIcon"></i>
                </div>
                <div class="wrimagecard-topimage_title h-140">
                  <h2 class="h4 text-center">
                    Users
                  </h2>
                  <p>Contains the list of all the system users.</p>
                </div>
                <div class="card-action-bar">
                  <a class="float-lg-none link">View Users</a>
                </div>
              </div>
            </div>
      <div class="col-md-6 col-lg-4">
              <div class="wrimagecard wrimagecard-topimage">
                <div class="wrimagecard-topimage_header">
                  <i class="fas fa-solid fa-cube cardIcon"></i>
                </div>
                <div class="wrimagecard-topimage_title h-140">
                  <h2 class="h4 text-center">
                    Products
                  </h2>
                  <p>View the status and displayed info about your products.</p>
                </div>
                <div class="card-action-bar">
                  <a class="float-right link">View Products</a>
                </div>
              </div>
            </div>
      <div class="col-md-6 col-lg-4">
              <div class="wrimagecard wrimagecard-topimage">
                <div class="wrimagecard-topimage_header">
                  <i class="fas fa-solid fa-file-invoice-dollar cardIcon"></i>
                </div>
                <div class="wrimagecard-topimage_title h-140">
                  <h2 class="h4 text-center">
                    Sales Hub
                  </h2>
                  <p>View your current sales flow.</p>
                </div>
                <div class="card-action-bar">
                  <a class="float-right link">View Sales</a>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>