<!--style sheet-->
<link rel="stylesheet" href="components/header/header.css">
<!--html goes here-->
<div id="header-left">
    <div id="header-menu" class="header-menu"><i class="fas fa-bars fa-lg"></i></div>
    <div id="header-logo" class="header-logo"></div>
</div>
<div id="header-right">
    <!-- <img id="img-user-photo"></img>

    <div id="user-data">
        <div id="label-user-name"></div>
        <div id="label-user-role"></div>
    </div>

    <div id="settings">
        <div id="icon-logout"><i class="fas fa-sign-out-alt fa-lg" ></i></div>
    </div> -->
</div>