<!--style sheet-->
<link rel="stylesheet" href="components/footer/footer.css">
<!--html goes here-->
<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>National Offices:</h4><br>
            <address>
                Carretera Libre Tijuana-Tecate,<br>
                Kilometro Numero 10,<br>
                Fracc. El Refugio,<br>
                Quintas Campestre,<br>
                22253 Redondo, B.C. <br>
                Contact: 01 800 123 4567
            </address>
        </div>
        <div class="footer-section">
            <h4>Arctic Breeze Co.</h4><br>
            <ul>
                <li class="home-link">About us</li><br>
                <li class="home-link">Transparency and Ethics</li>
                <li class="home-link">Protection of Personal Data </li>
                <li class="home-link">Trust Transparency Portal</li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>CUSTOMER SERVICE:</h4><br>
            <p> 0322103761@ut-tijuana.edu.mx </p>
            <!-- <h4>EJECUTA LA APP USANDO EXPO</h4>
            <div class="app-links">
                <a href="#"><img src="assets/icons/qr.png" alt="Expo"></a>
            </div> -->
        </div>
    </div>
</footer>